*{
    margin: 0;
    padding: 0;
}
:global(.navbarContent) {
  position: relative;
  z-index: 1000;
}
.navbarContent{
    background: linear-gradient(to right, #6a11cb, #2575fc);
}


.logo img{
    width: 17vmax;
    height: 4vmax;
    margin-left: 1rem;
}


.navbarCollapse {
    background: linear-gradient(to right, #6a11cb, #2575fc);
}


.navLink {
    color: #ffffff !important;
    font-family: 'Poppins', sans-serif;
    margin-left: 1rem;
    position: relative;
    display: inline-block; 
    padding: 6px 2px;
    transition: color 0.3s ease;
}

.navLink::before,
.navLink::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: center;
    transition:
        transform 0.35s ease,
        top 0.35s ease,
        bottom 0.35s ease;
}


.navLink::before {
  top: 0;
}


.navLink::after {
  bottom: 0;
}

.navLink:hover {
  /* color: #ffd6ff !important; */
  transition: 0.5s;
}

.navLink:hover::before {
  transform: scaleX(1);
  top: 6px;  
}

.navLink:hover::after {
  transform: scaleX(1);
  bottom: 6px; 
}




@media(max-width:992px){
    .navLink {
    margin-left: 1rem;
    }

    .navbarCollapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    }
     .navLink::before,
  .navLink::after {
    display: none;
  }
}
