.courseSection{
  background: linear-gradient(135deg, #c7d2fe, #e0e7ff);
}
.courseContainer{
    padding: 6rem 0;
}
.courseContainer h2{
    color:  #003a66 !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
  
.allCourse {
  width: 0;
  overflow: hidden;
  transition: width 0.6s ease;
}
.show {
  width: 90%;
}
.courseTable {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Poppins', sans-serif;
}

.courseTable th {
  background-color: #d6e1e8;
  text-align: left;
  padding: 12px;
  font-weight: bold;
  border: 1px solid #c4c4c4;
}

.courseTable td {
  padding: 12px;
  border: 1px solid #d0d0d0;
}



@media(max-width:1060px){
    .courseContainer{
        margin-left: 5%;
    }
}